@import url('https://fonts.googleapis.com/css?family=Lato:900|Montserrat:900|Open+Sans|Oswald:400,700|Playfair+Display|Amiri');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css"');



* {
  box-sizing: border-box;
  color: #2B2724;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: inline-block;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Amiri', serif;
  font-weight: normal;
}

h2 {
  font-size: 5rem;
  line-height: 5rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  line-height: 2.5rem;
}

button {
  background: white;
  border: grey;
  padding: 20px 40px;
  box-shadow: 0px 2px 5px -1px rgba(117,117,117,0.62);
}